.header {
    background-color: black;
}
.topheader > li {
    display: inline-block;
    font-size: smaller;
    padding-left: 20px;
    color: white;
}
.secondheader {
    width: 100%;
    height: 60px;
    margin-left: 60px;
    margin-top: 2px;
    display: flex;
}
#logopng {
    width: 100px;
    height: 60px;
}
#searchtable {
    margin: 15px 5px;
}
#searchbutton{
    width: 30px;
    height: 22px;
    margin: 15px 0px;
    border-radius: 5px;
    background-image: url(../image/search.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.searchbody {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 10%;
    align-items: center;
}
.searchbody div {
    padding-right: 100px;
}
.search {
    display: flex;
}
#login span {
    font-size: small;
    color: lightskyblue;
}
a {
    text-decoration: none;
    color: black;
}

#content {
    padding: 0 5%;
    display: flex;
}
#leftPart,#middlePart,#rightPart {
    height: 100px;
}
#leftPart {
    border: 1px solid red;
    width: 8%;
}
#middlePart {
    border: 1px solid blue;
    width: 84%;
}
#rightPart {
    border: 1px solid green;
    width: 8%;
}
